@import "tailwindcss";

@font-face {
  font-family: "PPMori", 'Poppins';
  src: url('/public/fonts/PPMori-Regular.woff2') format("woff2");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --primary-foreground: #F7F5F1;
  --foreground: #171717;
  --color-background: var(--background);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'PPMori', 'Poppins', Helvetica, sans-serif;
  font-weight: semibold;
}